body {
    padding: 0;
    margin: 0;
    font-family: ModeNine,sans-serif;
    line-height: 1.6;
    font-size: 16px;
    position: relative;
    background-color: #f5f5f8;
    background-image: url(background-pattern.svg);
    background-repeat: repeat-x;
    background-position: bottom;
}

#root {
    min-height: 100vh;
}
